@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  
}

body {
  @apply bg-stone-100 text-stone-900;
  font-family: Arial, Helvetica, sans-serif;
}

.grow-on-hover {
  transition: all .2s ease-in-out; 
}

.grow-on-hover:hover {
  transform: scale(1.1);
}

/* ============ SCROLLBAR ==================*/
::-webkit-scrollbar {
  @apply w-2.5 bg-stone-100;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-stone-100 rounded-full my-1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-bcbyellow rounded-full;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-bcbgreen;
}
/* ==========================================*/


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
